{% extends 'dashboard_layout.html.twig' %}

{% block content %}

<h2>Address</h2>

<div>
    {{ form_start(addressForm) }}
    {{ form_widget(addressForm) }}
    <button>Ajouter</button>
    {{ form_end(addressForm) }}
    <a href="{{ path('dashboard_address_index') }}">annuler</a>
</div>

{% endblock %}