{% extends 'dashboard_layout.html.twig' %}

{% block content %}

    <h1>Creation d'une person</h1>

    {{ form_start(personForm) }}
    {{ form_widget(personForm) }}
    <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(personForm) }}

{% endblock %}

