<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="{{ asset('./styles/css/home.css')}}" rel="stylesheet" />
    <link href="{{ asset('./styles/css/style.css')}}" rel="stylesheet" />
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    <script src="https://cdn.tailwindcss.com"></script>
    {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
zzzzzzzzzzzzzzzzzzzz
    <div class="absolute inset-0 -z-10 h-full w-full bg-gradient-to-b from-slate-50 via-green-100 to-green-500">
        <div class="antialiased px-4 sm:px-6 md:px-8 h-screen">
            {% include "components/navbar.html.twig" %}
            <main>
                {% block body %}
                {% endblock %}
            </main>
            {% include "components/footer.html.twig" %}
        </div>
    </div>
</body>

</html>