<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="https://msconsulting-europe.com/wp-content/uploads/2024/05/cropped-logo-square.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ asset('./styles/css/home.css') }}" rel="stylesheet" />
    <script src="//unpkg.com/alpinejs" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/unpoly@3.7.3/unpoly.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/unpoly@3.7.3/unpoly.min.css"
    />
    <script
      src="https://kit.fontawesome.com/e320a50358.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>

    <link href="{{ asset('./styles/css/dashboard_layout.css') }}" rel="stylesheet" />
    {% block javascripts %}
      <script src="https://cdn.tailwindcss.com"></script>
      {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>

  <div class="flex-col w-full h-screen">
    {{ include('components/sidebar.html.twig') }}
    <div id="content" class="ml-12 xl:p-4">
      {% block content %}{% endblock %}
    </div>
  </div>

  <script>
    const sidebar = document.querySelector("aside");
    const maxSidebar = document.querySelector(".max")
    const miniSidebar = document.querySelector(".mini")
    const maxToolbar = document.querySelector(".max-toolbar")
    const logo = document.querySelector('.logo')
    const content = document.querySelector('.content')
    const arrow = document.querySelector('.arrow')

    function openNav() {
      if(sidebar.classList.contains('-translate-x-48')){
        // max sidebar
        arrow.classList.add("rotate-180")
        arrow.classList.remove("hover:rotate-180")
        arrow.classList.add("hover:-rotate-0")
        sidebar.classList.remove("-translate-x-48")
        sidebar.classList.add("translate-x-none")
        maxSidebar.classList.remove("hidden")
        maxSidebar.classList.add("flex")
        miniSidebar.classList.remove("flex")
        miniSidebar.classList.add("hidden")
        maxToolbar.classList.add("translate-x-0")
        maxToolbar.classList.remove("translate-x-24","scale-x-0")
        logo.classList.remove("ml-12")
        content.classList.remove("ml-12")
        content.classList.add("ml-12","md:ml-60")
      }else{
        // mini sidebar
        arrow.classList.remove("rotate-180")
        arrow.classList.add("hover:rotate-180")
        arrow.classList.remove("hover:-rotate-0")
        sidebar.classList.add("-translate-x-48")
        sidebar.classList.remove("translate-x-none")
        maxSidebar.classList.add("hidden")
        maxSidebar.classList.remove("flex")
        miniSidebar.classList.add("flex")
        miniSidebar.classList.remove("hidden")
        maxToolbar.classList.add("translate-x-24","scale-x-0")
        maxToolbar.classList.remove("translate-x-0")
        logo.classList.add('ml-12')
        content.classList.remove("ml-12","md:ml-60")
        content.classList.add("ml-12")
      }
    }
  </script>
</body>
</html>
