{% extends 'dashboard_layout.html.twig' %}

{% set componentPath = 'dashboard/company/components/' %}

{% block content %}

    <h1>Modification de l'entreprise <span>{{ company.name }}</span></h1>

    <twig:CompanyEditForm :company="company" />

{% endblock %}
