{% extends 'dashboard_layout.html.twig' %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

	h2, p, span {
        font-family: 'DM Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<main>
    <div class="flex items-center justify-between p-4 antialiased">
	    <div class="flex flex-col space-y-2 w-1/2">
		    <h2 class="text-5xl font-semibold">Dashboard</h2>
	    </div>
    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>
</main>


<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

{% endblock %}
