{% block body %}

<footer>
    <span class="block text-lg py-4 text-slate-100 sm:text-center bg-transparent fixed bottom-0 left-0 right-0 mx-auto">
        ©{{ 'now'|date('Y') }}
        <a href="https://msconsulting-europe.com/" class="hover:underline text-lg">
            MS-consulting
        </a>
        . Tous droits réservés.</span>
</footer>

{% endblock %}
