{% extends 'dashboard_layout.html.twig' %}

{% block content %}
    <h1>Creation d'un user</h1>

    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(userForm) }}
{% endblock %}

