{% extends 'dashboard_layout.html.twig' %}

{% block content %}

	<section>
		{% include 'dashboard/components/navbar_component.html.twig' with {
    		'title': 'Fournisseur',
    		'text': 'Cette page vous permet de gérer les fournisseurs. Vous pouvez consulter, ajouter, modifier ou supprimer des adresses selon vos besoins.',
    		'button_text': 'Ajouter un fournisseur',
    		'button_url': path('dashboard_supplier_new')
    } %}
		<div class="mt-6 hidden md:flex md:flex-col">
			<div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
				<div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">

					<table class="min-w-full divide-y divide-gray-300">

						<thead class="bg-gray-50">
							{% include 'dashboard/components/table_header_row.html.twig' with {'columns': ['Id', 'Nom',
                        'Description', 'Fournisseur', 'Mission', 'Créer le']}%}
						</thead>

						<tbody class="divide-y divide-gray-200 bg-white">
							{% for supplier in supplierMissions %}
								{% include 'dashboard/components/table_row.html.twig' with {
                        'columns': [
                        {'data': supplier.id, 'classes': 'whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium
                        text-gray-900 sm:pl-6'},
                        {'data': supplier.name, 'classes': 'whitespace-nowrap px-3 py-4 text-sm text-gray-500'},
                        {'data': supplier.description ?? 'null', 'classes': 'whitespace-nowrap px-3 py-4 text-sm
                        text-gray-500'},
                        {'data': supplier.mission.name ?? 'null', 'classes': 'whitespace-nowrap px-3 py-4 text-sm
                        text-gray-500'},
                        {'data': supplier.createdAt|date('Y-m-d H:i:s'), 'classes': 'whitespace-nowrap px-3 py-4 text-sm
                        text-gray-500'}
                        ]
                        } %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
