{% extends 'dashboard_layout.html.twig' %}

{% block content %}
    <h2 class="text-xl font-semibold leading-7 text-gray-900 mb-4">Creation d'une facture fournisseur</h2>

    <twig:InvoiceSupplierForm :supplierMission="supplierMission" :invoice="invoice" />
{% endblock %}
