{% extends 'dashboard_layout.html.twig' %}

{% block content %}
    <h1>Modification de la facture fournisseur n°<span>{{ invoice.billNum }}</span></h1>

    <twig:InvoiceSupplierEditForm :supplierMission="supplierMission" :invoice="invoice" />
{% endblock %}
